.amely-instagram {

	.user-name {
		text-align: center;
		font-size: 18px;
		color: #999999;
		margin: 0 auto 50px;

		a {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&--carousel .tm-instagram-pics {
		opacity: 0;

		@extend %transit;
	}
}
