.alignleft {
	display: inline;
	float: left;
	margin: 5px 20px 20px 0;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;
}

.hidden {
	display: none;
}
