.block-list {
	list-style: none;
	margin-left: 0;
	line-height: 2.8;
	padding-left: 0;
}

.block-list .title {
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 18px;
	letter-spacing: .01em;
	color: #333333;
}
