.back-to-top {
	display: block;
	color: #ababab !important;
	cursor: pointer;
	z-index: 2;
	position: fixed;
	right: 30px;
	bottom: 30px;
	font-size: 0;
	opacity: 0;
	text-align: center;

	i {
		font-size: 40px;
	}

	&.show {
		opacity: 1;
	}

	&:hover {
		color: #333333 !important;
	}
}
